/* font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700;800&display=swap');
:root{
    --pink :#c9204f;
    --black: #000;
    --p-color: #393939;
    --font-Dosis: 'Dosis', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
    text-decoration: none;
    transition: 0.4s;
}
*::selection{
    background-color: var(--pink);
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: var(--pink);
}
.contanier{
    width: 85%;
    margin: auto;
}
section{
    padding-top: 100px;
}
.sec-top{
    text-align: center;
    margin-bottom: 100px;
}
.sec-top span{
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid #e9204f;
    font-family: var(--font-Dosis);
    font-weight: 700;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-Dosis);
}
.boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxs .box{
    width: 30%;
}


.btn{
    color: #fff;
    background-color: var(--pink);
    border-radius: 5px;
    padding: 18px 50px;
    font-weight: 700;
}
.btn:hover{
    background-color: #fff;
    color: var(--pink);
}

/* start header */

.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header nav .nav-links a{
    color: #fff;
    font-weight: 500;
    padding: 0 17px;
    text-transform: capitalize;
}
.header nav .nav-links a:hover,
.header nav .nav-links a.active{
    color: var(--pink);
}

/* now we will add class active to header on scroll*/
.header.active{
    background-color: #fff;
    border-bottom: 1px solid #7272724d;
}
.header.active nav .nav-links a{
    color: var(--p-color);
}
.header.active nav .nav-links a:hover,
.header.active nav .nav-links a.active{
    color: var(--pink);
}
#btnMenu{
    display: none;
}

/* start Home */
.home{
    height: 130vh;
    width: 100%;
    background: url(image/hero-bg-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 300px;
}
.home::after{
    content: '';
    position: absolute;
    bottom: -2px;
    z-index: 50;
    height: 200px;
    background: url(image/shape.png);
    left: 0;
    width: 100%;
    background-repeat: repeat-x;
    background-size: cover;
}
/* home::after MEdia */

@media(min-width:480px){
    .home::after{
        height: 78px;
    }
}
@media(min-width:576){
    .home::after{
        height: 105px;
    }
}
@media(min-width:768px){
    .home::after{
        height: 135px;
    }
}
@media(min-width:992px){
    .home::after{
        height: 160px;
    }
}
@media(min-width:1200px){
    .home::after{
        height: 182px;
    }
}

.home .text p{
    font-size: 22px;
    color: #e4e4e4;
    font-weight: 600;
    margin-bottom: 10px;
}
.home .text p span{
    display: inline-block;
    height: 1px;
    width: 70px;
    background-color: #fff;
    opacity: 0.3;
    top: -5px;
    position: relative;
    margin: 0 10px;
}
.home .text h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 800;
}
.home .text ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.home .text ul li{
    color: #e4e4e4;
    font-size: 22px;
    list-style: none;
    margin-right: 50px;
}


/* start About */

.about .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about .content .text{
    padding: 20px 60px 20px 20px;
    width: 50%;
}
.about .content .text h3{
    font-size: 28px;
    margin-bottom: 15px;
}
.about .content .text span{
    color: var(--p-color);
    font-weight: 600;
    line-height: 1.6;
    font-size: 20px;
    font-family: var(--font-Dosis);
}
.about .content .text p{
    padding: 20px 0;
    line-height: 1.6;
}
.about .content .div-img{
    width: 45%;
}
.about .content .div-img img{
    width: 100%;
}

.about .cont2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.about .cont2 .promo-number{
    padding: 40px 30px;
    background-color: #f3f3f3;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.about .cont2 .promo-number .small-box{
    width: 50%;
    text-align: center;
    padding: 30px 15px 28px;
}
.about .cont2 .promo-number .small-box span{
    font-size: 50px;
    font-family: var(--font-Dosis);
    font-weight: 700;
    letter-spacing: 4px;
}
.about .cont2 .promo-number .small-box p{
    padding-top: 10px;
    font-size: 18px;
    color: var(--pink);
}
.bord-rig {
    border-right: 1px solid #e0e0e0;
}
.bord-botm{
    border-bottom:  1px solid #e0e0e0;
}
.about .skill-with-social{
    width: 50%;
    padding-left: 50px;
}
.about .skill-with-social .skill-list{
    margin-bottom: 50px;
}
.about .heading{
    font-size: 25px;
    margin-bottom: 25px;
}
.about .single-skill{
    margin-bottom: 20px;
}
.about .single-skill .skill-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.about .single-skill .skill-title h3,
.about .single-skill .skill-title span{
    color: #393939;
    font-size: 18px;
}
.about .single-skill .progress{
    width: 100%;
    height: 5px;
    background-color: #dbdbdb;
    position: relative;
}
.about .single-skill .progress .progress-bar{
    position: absolute;
    background-color: var(--pink);
    height: 5px;
    width: 80%;
}
.about .social-status .social-profile-list a{
    margin-right: 10px;
}
.about .social-status .social-profile-list a i{
    color: #fff;
    font-size: 16px;
    background-color: var(--pink);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    position: relative;
    top: 0;
}
.about .social-status .social-profile-list a i:hover{
    background-color: #000;
    top: -7px;
}
/* start services */

.services .boxs .box{
    background-color: #f3f3f3;
    text-align: center;
    padding: 50px 10px;
    position: relative;
    box-shadow: 3px 3px 8px #a0a0a0d5;
    top: 0;
}
.services .boxs .box:hover{
    top: -15px;
    box-shadow: 5px 5px 10px #a0a0a099,
    -5px 5px 10px #a0a0a099;
}
.services .boxs .box i{
    font-size: 45px;
    color: var(--pink);
    margin-bottom: 20px;
}
.services .boxs .box h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.services .boxs .box p{
    color: var(--p-color);
    line-height: 1.8;
}
/* start portfolio */

.portfolio .menu-portf{
    text-align: center;
    margin-bottom: 50px;
}
.portfolio .menu-portf ul li{
    display: inline-block;
    font-weight: 600;
    color: #393939;
    padding: 8px 15px;
    cursor: pointer;
}
.portfolio .menu-portf ul li:hover,
.portfolio .menu-portf ul li.active{
    background-color: var(--pink);
    color: #fff;
}

.portfolio .projects .boxs{
    gap: 40px;
}
.portfolio .projects .boxs .box{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.portfolio .projects .boxs .box img{
    width: 100%;
}
.portfolio .projects .boxs .box:hover img{
    transform: scale(1.1);
}
.portfolio .projects .boxs .box .img-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(255,255,255, 0.272), rgba(26,26,26, 0.675));
    opacity: 0;
}
.portfolio .projects .boxs .box:hover .img-hover{
    opacity: 1;
}
.portfolio .projects .boxs .box .img-hover span{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    font-family: var(--font-Dosis);
}

/* start Testimonial*/

.blog .item{
    text-align: center;
    padding-bottom: 50px;
}
.blog .item .div-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .item .div-img img{
    width: 60px;
    margin-bottom: 20px;
}
.blog .item .div-img h4{
    font-size: 28px;
    margin-bottom: 5px;
}
.blog .item .div-img span{
    color: #6a6a6a;
    margin-bottom: 20px;
}
.blog .item p{
    color: var(--p-color);
    font-size: 18px;
    line-height: 1.6;
    width: 60%;
    margin: auto;
}
.blog .swiper-button-next,
.blog .swiper-button-prev{
    color: #393939;
}

/* start news */

.news .boxs .box{
    background-color: #f8f8f8;
}
.news .boxs .box .div-img{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.news .boxs .box .div-img img{
    width: 100%;
}
.news .boxs .box:hover .div-img img{
    transform: scale(1.2);
}
.news .boxs .box .div-img::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    background-color: #f8f8f8;
    height: 50px;
    width: 100%;
    clip-path: polygon(80% 100%,100% 30% , 100%  100%, 0 100% , 0 0);
    z-index: 1;
}
.news .boxs .box .text{
    padding: 30px;
}
.news .boxs .box .text span{
    font-size: 14px;
    color: var(--p-color);
    margin-bottom: 15px;
}
.news .boxs .box .text span .spn2{
    color: var(--pink);
    cursor: pointer;
}
.news .boxs .box .text p{
    font-size: 22px;
    cursor: pointer;
    font-family: var(--font-Dosis);
    font-weight: 700;
}
/* start footer */

.footer{
    height: 90vh;
    background-color: #000;
    border-top: 15px solid var(--pink);
    padding-top: 0;
    margin-top: 200px;
    display: flex;
    color: #fff;
}
.footer .contact{
    background-color: #141414;
    width: 50%;
    height: 100%;
    position: relative;
}
.footer .contact::after{
    position: absolute;
    content: '';
    left: 0;
    top: -125px;
    background-color: #141414;
    height: 130px;
    width: 100%;
    clip-path: polygon(0 100%, 35% 0 ,100% 60px, 100% 100%);
}
.footer .contact .sec-top{
    margin-bottom: 60px;
}
.footer .contact .sec-top p{
    margin-top: 40px;
    font-size: 18px;
    color: #cccccc;
}
.footer .contact form{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}
.footer .contact form input,
.footer .contact form textarea{
    outline: none;
    border: none;
    padding: 15px 10px;
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
}
.footer .contact form button{
    cursor: pointer;
    border: none;
    font-size: 18px;
    width: 180px;
    border-radius: 0;
}

.footer .content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}
.footer .content .item{
    margin-bottom: 30px;
}
.footer .content .item .cont-head{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer .content .item .cont-head i{
    margin-right: 8px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--pink);
    text-align: center;
    border-radius: 50%;
}
.footer .content .item .cont-head h6{
    font-size: 22px;
}


/* MEdia */

@media(max-width:950px){
    .contanier{
        width: 90%;
    }
    .boxs .box{
        width: 45%;
        margin-bottom: 30px;
    }
    .btn{
        padding: 14px 35px;
    }
    .header nav .nav-links a{
        font-size: 14px;
        padding: 0 14px;
    }
    .home{
        height: 100vh;
    }
    .home .text{
        margin-left: 50px;
    }
    .home .text h1{
        font-size: 60px;
    }
    .home .text ul li{
        font-size: 18px;
    }

}
@media(max-width:800px){
    #btnMenu{
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        display: block;
        color: var(--pink);
        font-size: 30px;
        z-index: 10;
    }
    .header nav .nav-links{
        position: absolute;
        top: 0%;
        right: -70%;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        padding: 100px 10px 10px;
        flex-wrap: wrap;
        border-left: 1px solid #7272724d;
    }
    .header nav .nav-links.active{
        right: 0;
    }
    .header nav .nav-links a{
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 30px 0;
        color: var(--p-color);
    }
    .btn{
        padding: 14px 25px;
    }
    .home .text h1{
        font-size: 52px;
    }
    .home .text ul li{
        font-size: 16px;
        margin-right: 30px;
    }
    .about .content{
        flex-direction: column-reverse;
    }
    .about .content .text{
        width: 80%;
        padding: 30px;
    }
    .about .content .text h3{
        font-size: 25px;
    }
    .about .content .text span{
        font-size: 18px;
    }
    .about .content .text p{
        font-size: 14px;
    }
    .about .content .div-img{
        width: 80%;
    }
    .about .cont2{
        flex-direction: column;
        gap: 40px;
    }
    .about .cont2 .promo-number,
    .about .cont2 .skill-with-social{
        width: 80%;
        margin: auto;
        padding-left: 0;
    }
    .blog .item p{
        width: 90%;
        font-size: 16px;
    }
    .footer{
        flex-direction: column;
    }
    .footer .contact{
        width: 100%;
        bottom: -2px;
    }
    .footer .content {
        width: 100%;
        background-color: #141414;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .footer .contact form button{
        width: 140px;
        font-size: 16px;
    }

}

@media(max-width :600px){
    .boxs .box{
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    .home .text p{
        font-size: 18px;

    }
    .home .text h1{
        font-size: 46px;
    }
    .header .text ul li{
        font-size: 15px;
        padding-bottom: 10px;
    }
    .home .text{
        margin-left: 20px;
    }
    .about .content .div-img,
    .about .content .text{
        width: 100%;
    }
    .about .cont2 .promo-number,
    .about .cont2 .skill-with-social{
        width: 90%;
    }
    .about .cont2 .promo-number .small-box p{
        font-size: 16px;
    }
    .portfolio .menu-portf ul li{
        padding: 6px 12px;
        font-size: 14px;
    }
}
